/* The Box Model Border Box Fix */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ----------------------------- */

body {
  margin: 0;
  padding: 0;
}

body div {
  padding: 0px;
  /* margin-right: 10px; */
}

body div:hover {
  background-color: lightsteelblue;
  /* margin-right: 10px; */
}

header:hover {
  background-color: lightgray;
}

.box1 {
  background-color: lightblue;
  flex: 1 0 400px;
  /* width: 200px; */
}

.box2 {
  background-color: lightgreen;
  flex: 1 1 400px;
  /* width: 200px; */
}

.box3 {
  background-color: lightyellow;
  flex: 1 1 400px;
  /* width: 200px; */
}

.boxWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxWrapper div {
  padding: 10px;
}

.grid-container {
  border: 4px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 50px;
}

.grid-item {
  border: 2px solid mediumvioletred;
  padding: 10px;
}
